.thumbnail {
  width: 100%;
  border-radius: 15px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 1300px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 35px;
  border-radius: 360px;
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-author, 
.video-stats {
  font-size: 15px;
  color: rgb(105, 105, 105);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  font-family: Roboto, Arial;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 7px;
  padding: 2px 4px 2px 4px;
  font-size: 12px;
  border-radius: 5px;
}


.video-link {
  text-decoration: none;
  color: black;
}

.video-link-channel {
  text-decoration: none;
  color: rgb(105, 105, 105);
}

.video-link-channel:hover {
  color: black;
}